---
import Layout from "../layouts/Layout.astro";
import Tilt from 'react-parallax-tilt';
---

<Layout title="Our Team" animated={false}>
	<main
		class="flex justify-center flex-row flex-wrap w-11/12 2xl:w-1/2 min-h-screen pt-48 animate-[0.75s_fade-in_ease-in-out]"
	>
        <div class="w-full flex justify-start">
            <h1 class="text-white font-sans font-extrabold text-4xl md:text-6xl pb-6">
                2023-2024 Team (new team photo soon!)
            </h1>
        </div>
		<div
			class="grid h-max w-full gap-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 text-white"
		>
			<Tilt glareEnable={true} tiltReverse={true} client:load>
                <div class="col-span-1 flex flex-col">
                    <div
                        class="cropPicture h-64 w-auto bg-[url('/images/people/ethan.png')] bg-cover bg-center"
                    >
                    </div>
                    <div
                        class="col-span-1 flex h-auto w-auto flex-col border-2 border-white bg-cover bg-center px-5 py-5"
                    >
                        <h1 class="font-sans text-xl leading-none font-medium">ETHAN</h1>
                        <h1 class="font-sans text-2xl leading-none font-extrabold pb-2">CHENG '24</h1>
                        <span class="font-hype leading-none self-end">Captain</span>
                    </div>
                </div>
            </Tilt>
			<Tilt glareEnable={true} tiltReverse={true} client:load>
                <div class="col-span-1 flex flex-col">
                    <div
                        class="cropPicture h-64 w-auto bg-[url('/images/people/byran.png')] bg-cover bg-center"
                    >
                    </div>
                    <div
                        class="col-span-1 flex h-auto w-auto flex-col border-2 border-white bg-cover bg-center px-5 py-5"
                    >
                        <h1 class="font-sans text-xl leading-none font-medium">BYRAN</h1>
                        <h1 class="font-sans text-2xl leading-none font-extrabold pb-2">HUANG '25</h1>
                        <span class="font-hype leading-none self-end"
                            >Captain + Elec. Lead</span
                        >
                    </div>
                </div>
            </Tilt>
			<Tilt glareEnable={true} tiltReverse={true} client:load>
                <div class="col-span-1 flex flex-col">
                    <div
                        class="cropPicture h-64 w-auto bg-[url('/images/people/altan.png')] bg-cover bg-center"
                    >
                    </div>
                    <div
                        class="col-span-1 flex h-auto w-auto flex-col border-2 border-white bg-cover bg-center px-5 py-5"
                    >
                        <h1 class="font-sans text-xl leading-none font-medium">ALTAN</h1>
                        <h1 class="font-sans text-2xl leading-none font-extrabold pb-2">UNVER '25</h1>
                        <span class="font-hype leading-none self-end">
                            Programming Lead</span
                        >
                    </div>
                </div>
            </Tilt>
			<Tilt glareEnable={true} tiltReverse={true} client:load>
                <div class="col-span-1 flex flex-col">
                    <div
                        class="cropPicture h-64 w-auto bg-[url('/images/people/adam.png')] bg-cover bg-center"
                    >
                    </div>
                    <div
                        class="col-span-1 flex h-auto w-auto flex-col border-2 border-white bg-cover bg-center px-5 py-5"
                    >
                        <h1 class="font-sans text-xl leading-none font-medium">ADAM</h1>
                        <h1 class="font-sans text-2xl leading-none font-extrabold pb-2">TANG '25</h1>
                        <span class="font-hype leading-none self-end"
                            >Mechanical Lead</span
                        >
                    </div>
                </div>
            </Tilt>
			<Tilt glareEnable={true} tiltReverse={true} client:load>
                <div class="col-span-1 flex flex-col">
                    <div
                        class="cropPicture h-64 w-auto bg-[url('/images/people/jackson.png')] bg-cover bg-center"
                    >
                    </div>
                    <div
                        class="col-span-1 flex h-auto w-auto flex-col border-2 border-white bg-cover bg-center px-5 py-5"
                    >
                        <h1 class="font-sans text-xl leading-none font-medium">JACKSON</h1>
                        <h1 class="font-sans text-2xl leading-none font-extrabold pb-2">LYLE '25</h1>
                        <span class="font-hype leading-none self-end"
                            >Mechanical Lead</span
                        >
                    </div>
                </div>
            </Tilt>
			<Tilt glareEnable={true} tiltReverse={true} client:load>
                <div class="col-span-1 flex flex-col">
                    <div
                        class="cropPicture h-64 w-auto bg-[url('/images/people/riya.png')] bg-cover bg-center"
                    >
                    </div>
                    <div
                        class="col-span-1 flex h-auto w-auto flex-col border-2 border-white bg-cover bg-center px-5 py-5"
                    >
                        <h1 class="font-sans text-xl leading-none font-medium">RIYA</h1>
                        <h1 class="font-sans text-2xl leading-none font-extrabold pb-2">TYAGI '24</h1>
                        <span class="font-hype leading-none self-end"
                            >Logistics Lead</span
                        >
                    </div>
                </div>
            </Tilt>
		    <Tilt glareEnable={true} tiltReverse={true} client:load>
                <div class="col-span-1 flex flex-col">
                    <div
                        class="cropPicture h-64 w-auto bg-[url('/images/people/max.png')] bg-cover bg-center"
                    >
                    </div>
                    <div
                        class="col-span-1 flex h-auto w-auto flex-col border-2 border-white bg-cover bg-center px-5 py-5"
                    >
                        <h1 class="font-sans text-xl leading-none font-medium">MAX</h1>
                        <h1 class="font-sans text-2xl leading-none font-extrabold pb-2">LIU '26</h1>
                        <span class="font-hype leading-none self-end">Electrical</span>
                    </div>
                </div>
            </Tilt>
			<Tilt glareEnable={true} tiltReverse={true} client:load>
                <div class="col-span-1 flex flex-col">
                    <div
                        class="cropPicture h-64 w-auto bg-[url('/images/people/nicholas.png')] bg-cover bg-center"
                    >
                    </div>
                    <div
                        class="col-span-1 flex h-auto w-auto flex-col border-2 border-white bg-cover bg-center px-5 py-5"
                    >
                        <h1 class="font-sans text-xl leading-none font-medium">
                            NICHOLAS
                        </h1>
                        <h1 class="font-sans text-2xl leading-none font-extrabold pb-2">LIN '24</h1>
                        <span class="font-hype leading-none self-end"> Mechanical</span>
                    </div>
                </div>
            </Tilt>
		</div>
	</main>
</Layout>
